[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "idealstan"]
	path = idealstan
	url = https://github.com/saudiwin/idealstan
[submodule "ordbetareg"]
	path = ordbetareg
	url = https://github.com/saudiwin/ordbetareg_pack
